.App .page-content {
  margin-bottom: 40px;
}

.App .page-header {
  margin-bottom: 60px;
}

.App .content-section {
  margin-bottom: 80px;
}

.App .callout-section {
  background-color: #f6f5f2;
  padding: 20px;
  margin: 0 -20px 60px;
}

@media (min-width: 768px) {
  .App .callout-section {
    padding: 40px;
    margin: 0 0 80px;
  }
}

.App .image-container img {
  max-width: 100%;
  height: auto;
}

.App .driver-tabs {
  margin-bottom: 20px;
}

.App .driver-content {
  margin-top: 60px;
}
