.blurb {
  display: flex;
  justify-content: left;
  margin-bottom: 40px;
}

.blurb img {
  height: 60px;
  width: 60px;
  margin-right: 20px;
}

.blurb p {
  margin: 0;
  font-size: 14px;
}

@media (min-width: 768px) {
  .blurb p {
    font-size: 15px;
  }
}

.blurb span {
  text-transform: uppercase;
  color: #0D6B83;
  font-weight: bold;
}