.App .main-content {
  max-width: 1280px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .App .main-content {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .App .main-content {
    margin: 0 -15px;
  }

  .App .layout-column {
    width: 50%;
    margin: 0 15px;
  }
}

@media (min-width: 1024px) {
  .App .main-content {
    margin: 0 -30px;
  }

  .App .layout-column {
    margin: 0 30px;
  }
}