.App .driver-tab {
  font-family: 'Open Sans', sans-serif;
  list-style: none;
  padding: 8px 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  color: #0D6B83;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.05em;
  background-color: #F6F5F2;
  transition: background-color 300ms, color 300ms;
}

@media (min-width: 768px) {
  .App .driver-tab {
    padding: 8px 20px;
  }
}

.App .driver-tab.active:first-of-type {
  background-color: #0D6B83;
  color: #f6f5f2;
}

.App .driver-tab.active:last-of-type {
  background-color: #A3D6D2;
  color: #000
}
