.main-header {
  background-color: #02252d;
  padding: 20px;
}

.main-header h1 {
  color: #ffffff;
}

@media (min-width: 768px) {
  .main-header h1 {
    text-align: center;
  }
}

.main-header p {
  color: #ffffff;
  max-width: 860px;
  margin: 0 auto 60px;
  letter-spacing: 0.02em;
}

@media (min-width: 768px) {
  .main-header p {
    font-size: 18px;
  }
}
