.map {
  height: 500px;
  width: 100%;
  background-color: lightgrey;
  margin-bottom: 100px;
}

@media (min-width: 768px) {
  .map {
    height: 80vh;
    min-height: 400px;
    position: sticky;
    top: 30px;
    margin-bottom: 0;
  }
}

.map__container {
  height: 100%;
  width: 100%;
}

/* .map__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.map__statistic {
  position: absolute;
  top: 20px;
  right: 0;
  padding: 15px;
  background-color: rgba(255,255,255, 0.85);
  font-size: 14px;
  max-width: 140px;
}

.map__statistic span {
  display: block;
  color: #D35C27;
  font-size: 42px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 10px;
} */

.map__legend {
  margin: 0 -10px;
  margin-top: 10px;
}

.map__legend .map__legend_formGroup {
  display: flex;
  flex-direction: row;
}

.map__legend-item {
  margin: 0 10px;
  color: #000;
  display: flex;
  align-items: center;
}

.map__legend-item span {
  font-weight: bold;
  font-size: 14px;
}

.map__legend-item:first-of-type .MuiButtonBase-root.Mui-checked {
  color: #0d6b83 !important;
}

.map__legend-item:first-of-type .MuiButtonBase-root.Mui-checked:hover {
  background-color: rgba(13, 107, 131, 0.07) !important;
}

.map__legend-item:last-of-type .MuiButtonBase-root.Mui-checked {
  color: #a3d6d2 !important;
}

.map__legend-item:last-of-type .MuiButtonBase-root.Mui-checked:hover {
  background-color: rgba(163, 214, 210, 0.16) !important;
}

.map__legend-item:first-of-type .MuiSwitch-track {
  background-color: rgba(13, 107, 131, 0.7) !important;
}

.map__legend-item:last-of-type .MuiSwitch-track {
  background-color: rgba(163, 214, 210, 1) !important;
}
