.tab-wrapper {
  border-right: 1px solid #02252D;
}

.tab-wrapper:last-of-type {
  border-right: none;
}

.nav__tab {
  list-style: none;
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  width: 230px;
  height: 70px;
  text-align: left;
  border: none;
  border-bottom: 5px solid #fff;
  display: flex;
  justify-content: left;
  align-items: center;
}

@media (min-width: 1024px) {
  .nav__tab {
    width: 260px;
  }
}

.nav__tab span {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
  max-width: 120px;
  pointer-events: none;
}

.nav__tab img {
  width: 32px;
  height: auto;
  margin-right: 20px;
  pointer-events: none;
}

.nav__tab:hover {
  border-bottom-color: #D35C27;
}

.nav__tab.active {
  border-bottom-color: #D35C27;
}