@import-normalize; /* import normalize.css styles */
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"); import google fonts */

/* import fonts */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(./fonts/OpenSansRegular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(./fonts/OpenSansBold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "WWF";
  font-display: swap;
  src: local("WWF"), url(./fonts/wwf-webfont.woff2) format("woff2");
}

/* base styles */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
  letter-spacing: 0.01em;
  margin: 0;
}

/* typography */

p {
  font-size: 16px;
  letter-spacing: 0.01em;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  line-height: 1.2em;
}

h1,
h2 {
  font-family: "WWF", sans-serif;
  font-weight: normal;
  margin-bottom: 40px;
}

h3,
h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
}

h1 {
  font-size: 42px;
  letter-spacing: 0.02em;
}

@media (min-width: 768px) {
  h1 {
    font-size: 52px;
  }
}

h2 {
  font-size: 38px;
  letter-spacing: 0.015em;
}

@media (min-width: 768px) {
  h2 {
    font-size: 44px;
  }
}

h3 {
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #d35c27;
}

@media (min-width: 768px) {
  h3 {
    font-size: 20px;
  }
}

h4 {
  font-size: 16px;
  letter-spacing: 0.01em;
  margin-top: 30px;
  color: #02252d;
}

@media (min-width: 768px) {
  h4 {
    font-size: 17px;
  }
}

/* app container */

.content {
  display: flex;
  justify-content: center;
}

/* UI */

button {
  background-color: #fff;
}

.MuiFormLabel-root {
  background-color: white;
  padding: 0 7px 0 0 !important;
}

.MuiBox-root {
  width: 100% !important;
}

.MuiInputBase-root {
  text-align: left !important;
}
