@import-normalize; /* import normalize.css styles */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"); /* import google fonts */

/* import fonts */

@font-face {
  font-family: "WWF";
  src: local("WWF"), url(./fonts/wwf-webfont.woff2) format("woff2");
}

/* base styles */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
  margin: 0;
}

/* typography */

h1,
h2 {
  font-family: "WWF", sans-serif;
  font-weight: normal;
}

h3,
h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  color: #d35c27;
}

h4 {
  font-size: 18px;
  color: #02252d;
}

p {
  font-size: 16px;
}

/* app container */

.content {
  display: flex;
  justify-content: center;
}